# Puerto del servidor
PORT=3000

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/{{projectName}}
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_DATABASE={{projectName}}
MONGODB_MAXPOOLSIZE=10
MONGODB_RETRYWRITES=true
MONGODB_SSL=false

# Configuración de la aplicación
APP_NAME={{projectName}}
APP_VERSION=0.1.0
APP_DEBUG=true
APP_LOG_LEVEL=debug

# Entorno
NODE_ENV=development
