# Configuración exclusiva para npm
registry=https://registry.npmjs.org/
access=public

# La siguiente configuración está comentada para evitar publicación automática en GitHub Packages
# @angelitosystems:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
