# Configuración para GitHub Packages
@angelitosystems:registry=https://npm.pkg.github.com

# Configuración para npm
registry=https://registry.npmjs.org/
access=public

# Token para publicar en GitHub Packages (este se reemplaza con tu token real al publicar)
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
