import { Module } from '@angelitosystems/rapidfast';
import { ${PascalCase}Controller } from './${kebabCase}.controller';
import { ${PascalCase}Service } from './${kebabCase}.service';
import { ${PascalCase}Model } from './${kebabCase}.model';

@Module({
  controllers: [${PascalCase}Controller],
  providers: [${PascalCase}Service, ${PascalCase}Model]
})
export class ${PascalCase}Module {} 